POSTGRES_DB=devroast
POSTGRES_USER=devroast
POSTGRES_PASSWORD=devroast
POSTGRES_PORT=55432
DATABASE_URL=postgresql://devroast:devroast@localhost:55432/devroast
NEXT_PUBLIC_BASE_URL=http://localhost:3000
